[Unit]
Description=Overnight HeliosCTA PJM unverified RT hourly LMP refresh timer

[Timer]
OnCalendar=*-*-* 00:15:00 America/New_York
OnCalendar=*-*-* 01:15:00 America/New_York
OnCalendar=*-*-* 02:15:00 America/New_York
OnCalendar=*-*-* 03:15:00 America/New_York
Persistent=false
RandomizedDelaySec=2min
AccuracySec=1min
Unit=helios-pjm-rt-unverified-hrl-lmps.service

[Install]
WantedBy=timers.target
