[Unit]
Description=HeliosCTA PJM generation outages by type refresh timer

[Timer]
OnCalendar=*-*-* 06:05:00 America/New_York
OnCalendar=*-*-* 06:30:00 America/New_York
OnCalendar=*-*-* 07:00:00 America/New_York
Persistent=true
AccuracySec=1min
Unit=helios-pjm-gen-outages-by-type.service

[Install]
WantedBy=timers.target
