[Unit]
Description=Daily HeliosCTA PJM Day-Ahead Hourly LMP orchestration timer

[Timer]
OnCalendar=*-*-* 16:00:00 UTC
Persistent=true
AccuracySec=1min
Unit=helios-pjm-da-hrl-lmps.service

[Install]
WantedBy=timers.target
