[Unit]
Description=Six-hourly HeliosCTA WSI hourly observed weather refresh timer

[Timer]
OnCalendar=*-*-* 00/6:20:00
Persistent=false
RandomizedDelaySec=3min
AccuracySec=1min
Unit=helios-weather-wsi-hourly-observed.service

[Install]
WantedBy=timers.target
