[Unit]
Description=Six-hourly HeliosCTA WSI hourly forecast weather refresh timer

[Timer]
OnCalendar=*-*-* 00/6:32:00
Persistent=false
RandomizedDelaySec=3min
AccuracySec=1min
Unit=helios-weather-wsi-hourly-forecast.service

[Install]
WantedBy=timers.target
